/* header top start*/

.header_top{
    background-color: #4C5A7D;
}
.navbar-nav li a{
    font-weight: 500;
}

/* header top end*/

/* header bottom start */
.about_banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide_box_a h2{
    color: orange;
}
.slide_box_a h2 strong{
    color: white;
}
.slide_box_a p{
    color: white;
}
.btn_box{
    background-color: orange;
    color: white;
    text-decoration: none;
    border: 2px solid white;
}
#home{
    background-color: rgba(0, 0, 0, 0.363);
    background-blend-mode: darken;
}
/* header bottom end */

/* about section start */
.message-box h4{
    color: orange;
}
.message-box a{
    background-color: #262F24;
    text-decoration: none;
    color: white;
}

/* about page */
.about_card_box{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about_icon i{
  border: 3px solid #4CACB2;
  border-radius: 8px;
  color: orange;
}
.about_section_page{
  background-color: #F2F3F5;
}
/* about section end */

/* history section start */
.history_section{
    background-color: #F2F3F5;
}



  .history_totel{
    background-color: #2D3032;

  }
  .totel_box{
    background-color: orange;
    color: white;
    display: flex;
    padding: 10px;
  }
  .totel_icon{
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    color: black;
    font-size: 30px;
    margin-right: 10px;
  }

/* timelime */
/* history section end */

/* plan section start */
.plan_section{
    background-color: #F2F3F5;
}
.plan_box_a{
    border: 1px solid rgba(0, 0, 0, 0.205);
}
.plan_box{
    background-color: #4BABB1;
    color: white;
}

/* price */
.pricing-table{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.pricing-table-header{
    background-color: #262F24;
    color: white;
}
.pricing-table-sign-up a{
    background-color: #262F24;
    text-decoration: none;
    color: white;
}
/* plan section end */

/* testimonials section start*/
.testimonials_section{
    background-attachment: fixed;;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.726);
    background-size: cover;
    
}
.testimonials_box{
    background-color: black;
}
/* testimonials section end*/

/* brand logo start*/

.brand_logo{
    background-color: #EEA412;
}

/* brand logo end*/

/* footer start*/
.footer_section{
    background-color: #4C5A7D;
}
footer li{
    list-style: none;
    margin-bottom: 10px;
}
footer li a{
    text-decoration: none;
    color: white;
}






.copyrights{
    background-color:#1F1F1F;
    color: gray;
}
.copyrights a{
    text-decoration: none;
    color: white;
}
/* footer end */


/* course 1 start */
.course_banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.course_card_bottom{
  border:1px solid #4CACB2;
  border-top:none;
}
/* course 1 end */

/* blog section start */
.blog_card {
  background-color: #F1F1F1;
}
.blog_card span{
  color: orange;
}
.blog_card_btn{
  background-color: #1F1F1F;
  border: orange;
  color: white;
}
.blog_card p,.blog_card span ,.blog_card h5,.blog_card i {
  color: rgb(68, 67, 67);
}
/* blog section end */